body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('imagens/petsfundo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


#corpo {
    border: 3px solid #FFA500;
    width: auto;
    height: auto;
    background-color: rgba(255, 255, 255, 0.9); 
}

#topo {
    border: 3px solid #FFA500;
    width: auto;
    height: 100px;
    background-color: #fff6e5;
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffae42;
    height: 60px;
    color: white;
    border: 3px solid #FFA500;
}

.botao-catalogo {
    background-color: #f3c16f;
    padding: 15px;
    border-radius: 8px;
    width: 60%;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.botao-catalogo a {
    text-decoration: none;
    color: #333;
}

.botao-catalogo:hover {
    background-color: #e0a84d;
}


#menu div {
    flex: 1;
    text-align: center;
    padding: 10px 0;
}

#menu div a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

#menu div:hover {
    background-color: #ffa31a;
}

#conteudo {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

#centro {
    border: 3px solid #FFA500;
    width: 1000px;
    height: 750px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff6e5;
    font-size: 16px;
    line-height: 1.8;
}

#direita {
    border: 3px solid #FFA500;
    width: 450px;
    height: 750px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #fff6e5;
}

#esquerda {
    border: 3px solid #FFA500;
    width: 450px;
    height: 750px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #fff6e5;
}

#rodape {
    border: 3px solid #FFA500;
    width: auto;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffae42;
    font-weight: bold;
}
